.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.app-footer {
  background-color: #222;
  height: 80px;
  padding: 0;
  color: white;
}

.app-title {
  font-size: 1em;
}

.app-intro {
  font-size: large;
}

.button-hover-history {
  position: absolute;
  left: 30%;
  top: 110%;
  z-index: 10;
}

ul {
  text-align: left;
  padding: 5px;
}

.hidden {
  display: none;
}

.row-spacer {
  height: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
